.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, #547499 0%,#6ba6d6 61%,#7db9e8 100%);
    align-items: center;
}

.Toolbar-logo {
    padding-left: 150px;
    font-size: 40px;
}